<a href="https://colab.research.google.com/github/ronie-1989/coding-interview-university/blob/main/mmd2_assignment2_problem02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

import numpy as np
import pandas as pd
import json
import itertools

gamer_data = [];
df2=pd.DataFrame();
file1 = open(r'C:\\Users\\prit1\\Desktop\\RWTH Aachen Media Informatics\\Semester 2\\MMD\\Exercises\\Assignment 2\\data\\behabioralPredictionGame2Dataset10Tsd.json')

Lines = file1.readlines()

for ln in Lines:
    df=pd.json_normalize(json.loads(ln),record_path=['game_attributes'],meta=['user_id','device_attributes']);
    df2=pd.concat([df2,pd.DataFrame(df,columns=df.columns)]);

In [3]:
# print (df2.head)

In [4]:
import numpy as np
import pandas as pd
import json
import itertools
import datetime

df_movies = pd.read_csv('movies.dat', engine = 'python', delimiter='::', header = None)
df_movies.columns = ["MovieID", "Title", "Genres"]

df_movies = df_movies.sort_index(1).truncate(before="MovieID", after="Title", axis="columns")
# print (df_movies.head)


df_ratings = pd.read_csv('ratings.dat', engine = 'python', delimiter='::', header = None)
df_ratings.columns = ["UserID", "MovieID", "Rating", "Timestamp"]
# second_columns = {'UserID':np.int16, 'MovieID':np.int16,'Rating':np.int8,'Timestamp':np.int16}
# df_ratings = df_ratings.astype(second_columns)


df_ratings.drop(labels="Timestamp", axis=1, inplace = True)
print (df_ratings.head)

# df_ratings.head()

df_users = pd.read_csv('users.dat', engine = 'python', delimiter='::', header = None)
df_users.columns = ["UserID", "Gender", "Age", "Occupation", "ZipCode"]
df_users = df_users.sort_index(1).truncate(before="UserID", after="UserID", axis="columns")
# print (df_users.head)


# merged_movies_ratings = df_movies.merge(df_ratings, on = "MovieID")

# df_movies = df_movies.dropna(axis=1)
# df_ratings = df_ratings.dropna(axis=1)

# print(df_movies[0:5])
# print(df_ratings[0:5])

<bound method NDFrame.head of          UserID  MovieID  Rating
0             1     1193       5
1             1      661       3
2             1      914       3
3             1     3408       4
4             1     2355       5
...         ...      ...     ...
1000204    6040     1091       1
1000205    6040     1094       5
1000206    6040      562       5
1000207    6040     1096       4
1000208    6040     1097       4

[1000209 rows x 3 columns]>

In [5]:
# df_ratings_grouped = df_ratings.groupby('UserID')
# print(df_ratings.head)

# movies_ratings = pd.merge(df_ratings, df_movies, on = 'MovieID', how = 'left')

# # max_user_id = movies_ratings[movies_ratings['UserID'] == 6041]
# # print (max_user_id.head())



# print(movies_ratings[0:10])

In [6]:
users_movie_df = pd.DataFrame(list(itertools.product(df_users['UserID'].unique(),df_movies['MovieID'].unique())), columns=['UserID', 'MovieID'])
print(users_movie_df.shape)

(23453320, 2)

In [7]:
len(df_users['UserID'].unique())

6040

In [8]:
len(df_movies['MovieID'].unique())

3883

In [20]:
df_ratings.head()

   UserID  MovieID  Rating
0       1     1193       5
1       1      661       3
2       1      914       3
3       1     3408       4
4       1     2355       5

In [21]:
users_movie_df.head()

   UserID  MovieID
0       1        1
1       1        2
2       1        3
3       1        4
4       1        5

In [23]:
df_ratings.set_index(['MovieID'], inplace=True)
users_movie_df.set_index(['MovieID'], inplace=True)

In [29]:
combined_X1 = pd.merge(users_movie_df, df_ratings, how='outer', on=[ 'MovieID','UserID'])

#print(combined_X.head)

In [31]:
combined_X2 = pd.merge(combined_X1, df_movies, how='outer', on=[ 'MovieID','MovieID'])

print(combined_X2.head)

<bound method NDFrame.head of           MovieID  UserID  Rating                  Title
0               1       1     5.0       Toy Story (1995)
1               1       2     NaN       Toy Story (1995)
2               1       3     NaN       Toy Story (1995)
3               1       4     NaN       Toy Story (1995)
4               1       5     NaN       Toy Story (1995)
...           ...     ...     ...                    ...
23453315     3952    6036     NaN  Contender, The (2000)
23453316     3952    6037     NaN  Contender, The (2000)
23453317     3952    6038     NaN  Contender, The (2000)
23453318     3952    6039     NaN  Contender, The (2000)
23453319     3952    6040     NaN  Contender, The (2000)

[23453320 rows x 4 columns]>

In [32]:
combined_X2.drop(labels="MovieID", axis=1, inplace = True)
print(combined_X2.head)

<bound method NDFrame.head of           UserID  Rating                  Title
0              1     5.0       Toy Story (1995)
1              2     NaN       Toy Story (1995)
2              3     NaN       Toy Story (1995)
3              4     NaN       Toy Story (1995)
4              5     NaN       Toy Story (1995)
...          ...     ...                    ...
23453315    6036     NaN  Contender, The (2000)
23453316    6037     NaN  Contender, The (2000)
23453317    6038     NaN  Contender, The (2000)
23453318    6039     NaN  Contender, The (2000)
23453319    6040     NaN  Contender, The (2000)

[23453320 rows x 3 columns]>

In [33]:
combined_X2.fillna(0)

          UserID  Rating                  Title
0              1     5.0       Toy Story (1995)
1              2     0.0       Toy Story (1995)
2              3     0.0       Toy Story (1995)
3              4     0.0       Toy Story (1995)
4              5     0.0       Toy Story (1995)
...          ...     ...                    ...
23453315    6036     0.0  Contender, The (2000)
23453316    6037     0.0  Contender, The (2000)
23453317    6038     0.0  Contender, The (2000)
23453318    6039     0.0  Contender, The (2000)
23453319    6040     0.0  Contender, The (2000)

[23453320 rows x 3 columns]

In [34]:
combined_X2.iloc[0]

UserID                   1
Rating                   5
Title     Toy Story (1995)
Name: 0, dtype: object